<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/canelasa">Anna Canelas</a>. A software engineer who is on a mission to change the world one web app at a time. 
  </p>
  <br />
  <p>
    Anna's goal is to continue learning how to code and build products people want and need to make their lives easier and happier.
  </p>
  <p>
    Completing the Firehose Project coding program was one of the best decisions she ever made in starting her coding career. If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'anna.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Anna Canelas</h2>
    <br />
    <p>
      Anna Canelas is a full stack web developer. As a graduate of the Firehose Project program, she has the skills and ability to learn any prgramming language. She specializes in Ruby on Rails and Javascript.
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />